body {
  background-color: #0E2F44;
  display:grid;
  margin:0 auto;
  color: #444;
  font-size: 16px;
}


h1 {
 font-size: 5em;
 font-family: sans-serif,serif;
color: #A64B34;
font-weight: bold;
padding-left: 0.4em;
padding-right: 0.4em;
}

h2{
  font-size: 3em;
  font-family: sans-serif,serif;
 color: gray;
 font-weight:500;
text-align: center;
padding-top: 0.5em;
}

p {
  font-size: 3em;
  font-family: inherit;
  color: blue;
padding-left: 1em;
padding-right: 1em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 1px;
  padding:0px;
  margin-left:25px;
  margin-right: 25px;
}

.grid-container > div {
  justify-content:center;
  text-align:justify ;
  font-size: 10px;
  padding: 1px;
}

.item1 {
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 7;
  background-color:#0E2F44;
}

nav ul {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  font-size: 30px;

}
nav a:link, nav a:visited {
  color: #5acc56;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #f8ff49;
  text-decoration: underline;
}

.item2{
  grid-column-start: 1;
  grid-column-end: 7;
  font-family: 'Parisienne', cursive;
}

.item2 img {
  display:block;
  margin: auto;
}

img{
  image-resolution: 500dpi;
  vertical-align: baseline;
  height: 400px;
}

.item3{
  grid-column-start: 1;
  grid-column-end: 3;
}
.item4{
  grid-column-start: 3;
  grid-column-end: 5;
}
.item5{
  grid-column-start: 5;
  grid-column-end: 7;
}

div .item6{
  grid-column-start: 1;
  grid-column-end: 3;
  background-color:#f4c6b5;
}


div .item7{
  grid-column-start: 3;
  grid-column-end: 7;
  background-color:#f4c6b5;

}

.item7 span {
	font-weight:bold;
	color:red;
  font-style: oblique;
	}

  div .item8{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color:#f4c6b5;
  }


div .item9{
  grid-column-start: 3;
  grid-column-end: 7;
 background-color:#f4c6b5;
}

.item9 span {
	font-weight:bold;
	color:red;
  font-style: oblique;
	}
  .item10{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color:#f4c6b5;
  }

div .item11{
  grid-column-start: 3;
  grid-column-end:7;
  background-color:#f4c6b5;
}

.item11 span {
	font-weight:bold;
	color:red;
  font-style: oblique;
	}

div .item12{
  grid-column-start: 1;
  grid-column-end: 7;
  text-align:center;
  color: gray;
  font-size: 0.7em;
  background-color: #d0caca;
  word-spacing:1em;
}

div .item13{
  grid-column-start: 1;
  grid-column-end: 7;
  font-size:1.3em;
  text-align: center;
  background-color:#0E2F44;
  color:#5acc56;
}
.extra{

  float: left;
  width: 960px;
  margin: 20px;
  list-style: none;
  font-size: 30px;
  text-align: left;
  padding-left:7em;
}
.extra2{
  float: left;
  width: 900px;
  margin: 20px;
  list-style: none;
  font-size: 30px;
  text-align: left;
  padding-left:10em;
}
.place{
  background-color: black;
  font-size:6em;
  font-family: fantasy;
  color: white;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .item3{grid-template-columns: repeat(1, 1fr);}
}
@media screen and (min-width: 1440px) {
  .item3{grid-template-columns: repeat(6, 1fr);}
}
